.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.button:disabled {
    cursor: not-allowed;
}